:root {
    --blue: #3D7AF3;
    --cyan: #22C1E0;
}

body {
    background-color: whitesmoke;
    margin: 0;

    display: flex;
    flex-direction: column;
}


.wave {
    width: 100%;
    z-index: 1;
}

nav {
    position: fixed;
    right: 1em;
    top: 100px;
    padding-right: 3em;
    z-index: 2;
}

a {
    margin: 10px;
    padding: 10px;

    font-size: 20px;
    text-decoration: none;
    color: var(--cyan);
    font-family: Helvetica;
    background-color: whitesmoke;

    border: 1px solid transparent;
    border-radius: 20px;

    transition: ease;
    transition-duration: 500ms;
        
}

a:hover {
    font-size: 30px;
    transition: ease;
    transition-duration: 500ms;
    text-decoration: underline;
}

#welcomeText {
    
    text-align: right;
    
    color: var(--cyan);
    padding: 100px;
    padding-right: 300px;
    z-index: 3;
}

#about {
    background-color: var(--blue);
    text-align: center;
    color: var(--cyan);   


}

#mainInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#profileImg {
    padding-right: 1em;
}

#aboutMe {
    flex-basis: 50%;
}
